body{
  font-family: "Poppins", sans-serif;
background: #0A0A0A;
}



.container{
width: 800px;
margin: auto;
background-color: #1A1A1A;
}

.header{
    padding: 20px;
    padding-bottom:  10px; 
}

.header .judul{
    font-size: 40px;
    font-weight: bold;
    font-family: "Playfair Display", serif;
     color: #FAFAFA;
}

.header ul li{
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}

.header a {
text-decoration: none;
color: #FAFAFA;
padding: 3px;
}

.header a:hover{
    color: #009d05;
     transform: scale(1,7);
}

.hero{
    height: 300px;
    background-image: url(img/padel.jpg);
    background-size: cover;
    background-position: 0 -70px; 
    border: 3px solid #C0C0C0;

}

.content {
    padding: 20px;
}

.content h2 {
    font-size: 28px;
    font-weight: bold;
     color: #FAFAFA;
 font-family: "Playfair Display", serif;
}

.content .penulis {
    font-size: 11px;
    margin-top: -5px;
    color: #FAFAFA;
}

.content .penulis a{
    color: #098f5e;
    text-decoration: none;
}

.content p{
    margin-bottom: 20px;
    font-size: 13px;
    color: #FAFAFA;
}



.footer .copy{
    color: #eaeaea;
    text-align: center;
    font-size: 12px;
}


.hero img{
    transition: 0.4s ease;
}

.hero:hover > :not(:hover) {
    filter: blur(8px);
}

.content p a{
     color: #eaeaea;
}

.content p a:hover{
    color: #009d05;
}

.heri{
    height: 300px;
    background-image: url(img/lapang.jpg);
    background-size: cover;
    background-position: 0 -70px; 
    border: 3px solid #C0C0C0;
    backdrop-filter: blur(10px);
}

.heri img{
    width: 100%;
     object-fit: cover;
     transition: 0,6s ease;
    
}

.heri::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(red, green, blue, alpha);
   
    transition: backdrop-filter 0,5s ease;
    z-index: 1;
}

.heri:hover{
    transform: scale(1.1);
    backdrop-filter: blur(0px);
}

h3{
    text-align: center;
    color: #eaeaea;
}